/* CSS Document */



html{
scroll-behavior:smooth;
}
body
{
	font-family: 'Roboto Condensed', sans-serif;
	margin:0;
	padding:0;
	overflow-x:hidden;
  background: linear-gradient(463deg, #e7e7e7 16%, #FFF 16%);
  background-attachment: fixed;
}

section, footer, header {
  overflow: hidden;
}

#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 0px;
}
a {
  text-decoration: none !important;
}
.icofont-phone {
  background: white;
  color: #d76c28;
  border-radius: 10px;
  padding: 2px;
  display: inline-block;
  margin-right: 5px;
}

#header.header-scrolled {
  padding: 0px 0px 4px 0px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.header-scrolled .header-top {
  display: none;
  transition: .5s;
}

#header .logo a {
  color: #0b2341;
}

#header .logo img {
  width: 67%;
  height: auto;
}
.header-top {
  background: #d76c28;
  transition: .5s;
}
.header-top ul {
  list-style: none;
  text-align: right;
  margin-bottom: 0px;
}
.header-top ul li{
  display: inline-block;
  margin-left: 30px;
  color: #fff;
  font-size: 15px;
}
.header-top ul li a{
  color: #fff;
}
.icofont-rupee {
  color: #0d5a3d;
  background: #ccf1e3;
  padding: 9px 9px;
  border-radius: 50%;
  font-size: 17px;
  display: inline-block;
  margin-top: -2px;
}
@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
}





.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #0b2341;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #ed502e;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 15px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #0b2341;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #ed502e;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Get Startet Button */
.career-btn {
  background: #EBDD72;
  color: #fff;
  border-radius: 4px;
  padding: 5px 15px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}
.edu-btn {
  background: #87E287;
  color: #fff;
  border-radius: 4px;
  padding: 5px 15px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}
.study-btn {
  background: #EF935F;
  color: #fff;
  border-radius: 4px;
  padding: 5px 15px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}
.work-btn {
  background: #D6E0E9;
  color: #fff;
  border-radius: 4px;
  padding: 5px 15px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.get-started-btn {
  margin-left: 25px;
  background: #ed502e;
  color: #fff;
  border-radius: 4px;
  padding: 8px 25px 9px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.get-started-btn:hover {
  background: #ef6445;
  color: #fff;
}

@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 20px 7px 20px;
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  font-size: 34px;
}

.mobile-nav-toggle i {
  color: #0b2341;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #0b2341;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #ed502e;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(4, 12, 21, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}





.offered
{
	background:#67676700;
	width: 100%;
	padding:80px 0px 80px 0px;
}
.offered-block
{
	width:100%;
	height:auto;
	border-radius: 3px;
	padding:10px 20px 30px 10px;
	transition: all .5s ease;
	margin-bottom: 20px !important;
  text-align: center;
  box-shadow: 0px 0px 3px grey;
}
.offered-block:hover {
  background: #cf5c14;
  box-shadow: none;
}
.offered-block:hover p {
  color: #fff;
}
.offered-block:hover a {
  color: #cf5c14;
  background: #fff;
}
.offered-block:hover h4 {
  color: #fff;
}
.offered-block p {
  text-align: justify;
  color: grey;
  word-break: break-all;
  font-size: 14px;
}
.offered-block p:nth-child(3) {
  color: rgb(24, 22, 22);
  font-size: 16px;
  text-align: center;
}

.offered-icon
{
	width:150px;
	height:auto;
	margin-bottom: 4%;
}

.offered h4
{
  color: #cf5c14;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
.offered button
{

    background: #fff;
    border-radius: 5px;
    border: none;
    text-align: center;
    text-align: center !important;
}
.offered a
{
	background: #d76c28;
  color: #fff;
  border-radius: 20px;
  padding: 5px 30px;
  margin-top: 20px;
  display: inline-block;
}








.career
{
	padding:50px 0px 50px 0px;
}
.career .destiny-img {
  text-align: center;
}
.career .main-img {
  width: 85%;
}
.career .main-img.education-img {
  width: 65%;
}
.career .aim-img {
  position: absolute;
  left: 29%;
}
.career .destiny-content {
  width: 90%;
}
.career .destiny-content h3 {
  font-weight: bold;
  color: #d76c28;
  margin-bottom: 20px;
}
.career .destiny-content p {
  color: rgb(32, 30, 30);
  font-size: 18px;
}
.career .destiny-content p:nth-child(3), .career .destiny-content p:nth-child(4) {
  color: grey;
  font-size: 16px;
}
.career .destiny-content ul {
  list-style: none;
  padding-left: 0px;
  color: grey;
  margin: 20px 0px 40px;
}
.career .destiny-content ul li{
  margin-bottom: 5px;
}
.career .destiny-content a{
  background: #d76c28;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;  
}
.career .question-img {
  position: absolute;
  left: 52%;
  top: 9%;
  width: 44px;
}
.career .comment-img {
  position: absolute;
  left: 27%;
  top: 8%;
}
.career .comment1-img {
  position: absolute;
  right: 26%;
  top: 5%;
}


.progress-main {
  background: #fff5a8;
  padding: 100px 0px;
}
.progress-main p {
  margin-top: 30px;
  color: rgb(46, 46, 46);
  text-align: center;
}
.progress-main .section-title p {
  
  text-align: left;
}
.progressbar-con {
  display: flex;
  justify-content: space-between;
}
.progress-img {
    text-align: center;
    margin-left: 5px;
    margin-bottom: 15px;
}
.progress-block{
  position: relative;
  margin: 4px;
  float:left;
  text-align: center;
}
.progress-block span, .progress-block strong {
  font-size: 30px;
  font-weight: bold;
  position: relative;
  top: -30px;
}
.bar.green {
  border-bottom-color: #13be03;
  border-right-color: #13be03;
}
.green-text {
  color: #13be03;
}
.bar.leaf {
  border-bottom-color: #6ec21d;
  border-right-color: #6ec21d;
}
.leaf-text {
  color: #6ec21d;
}
.bar.yellow {
  border-bottom-color: #fac502;
  border-right-color: #fac502;
}
.yellow-text {
  color: #fac502;
}
.bar.orange {
  border-bottom-color: #fe6604;
  border-right-color: #fe6604;
}
.orange-text {
  color: #fe6604;
}
.bar.red {
  border-bottom-color: #f83331;
  border-right-color: #f83331;
}
.red-text {
  color: #f83331;
}
.barOverflow{ /* Wraps the rotating .bar */
  position: relative;
  overflow: hidden; /* Comment this line to understand the trick */
  width: 180px; height: 90px; /* Half circle (overflow) */
  margin-bottom: -14px; /* bring the numbers up */
}
.bar{
  position: absolute;
  top: 0; left: 0;
  width: 180px; height: 180px; /* full circle! */
  border-radius: 50%;
  box-sizing: border-box;
  border: 10px solid #ccc;     /* half gray, */
  
}






.career.job-planning {
  background: linear-gradient(-463deg, #e7e7e7 16%, #FFF 16%);
  background-size: cover;
  background-attachment: fixed;
}

.job-planning img {
  width: 70%;
  margin: auto;
}
.job-planning .col-md-4 {
  text-align: center;
}
.job-planning p{
  width: 90%;
  margin: 30px auto;

}








.tools-block .about-img {
  position: absolute;
  top: 13%;
  width: 60%;
  left: 13%;
}
.tools-block .rotate-bg {
  width: 85%;
  animation-name: rotateme;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: rotateme;
  -webkit-animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotateme;
  -moz-animation-duration: 40s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: rotateme;
  -ms-animation-duration: 40s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: rotateme;
  -o-animation-duration: 40s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;

}
@keyframes rotateme {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}

.career.tools {
  background: linear-gradient(to left, #0d5a3d 50%, #ef935f 50%);
  position: relative;
}
.career.tools .rotate-corner {
  width: 200px;
  position: absolute;
  right: -70px;
  top: -70px;
  animation-name: rotateReverse;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: rotateReverse;
  -webkit-animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotateReverse;
  -moz-animation-duration: 40s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: rotateReverse;
  -ms-animation-duration: 40s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: rotateReverse;
  -o-animation-duration: 40s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;

}
.career.tools .section-title h2 {
  color: #fff;
}
.career.tools .section-title h2::after {
  background: #87e287;
}
.tools-content {
  width: 80%;
  margin-left: auto;
}
.tools-content p {
  font-size: 18px;
  color: #fff;
  text-align: justify;
}
.tools-content ul li {
  font-size: 18px;
  color: #fff;
}

.tools-list {
  display: flex;
  flex-wrap: wrap;
}
.tools-list ul {
  list-style: none;
  width: 45%;
  margin: 10px;
  padding: 10px 38px;
  border-radius: 5px;
  background: #ef935f;
}
.tools-list ul li::before {
  content: "\2022";
  color: #0d5a3d;
  font-weight: bold;
  display: inline-block; 
  font-size: 20px;
  width: 1em;
  margin-left: -1em;
}






.contact, .offered
{
	background: linear-gradient(-463deg, #e7e7e7 16%, #FFF 16%);
  background-size: cover;
  background-attachment: fixed;
	width: 100%;
	padding:80px 0px 80px 0px;
}

.guidance {
  padding:80px 0px 80px 0px;
}
.guidance-block
{
	width:100%;
	height:auto;
	border-radius: 10px;
	padding:15px 15px 15px 100px;
  margin-bottom: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 0px 3px grey;
  position: relative;
  transition: all .5s ease;
}
.guidance-block:hover .guidance-icon-w {
  visibility: visible;
  transition: all .5s ease;
}
.guidance-icon
{
	position: absolute;
  top: 0;
  left: 0;
  visibility: visible;
  transition: all .5s ease;
}
.guidance-icon-w, .guidance-block:hover .guidance-icon{
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  
}
.guidance img {
  width: 60px;
  height: auto;
}
.guidance h4
{
	  color: #1e74c7;
    transition: all .5s ease;
    font-size: 22px;
    margin-top: 0px;
}
.guidance p
{
	  color: grey;
    transition: all .5s ease;
    font-size: 16px;
}
.guidance a {
  display: block;
  margin: 30px auto auto;
  text-align: center;
  padding: 7px;
  background: #b5245f;
  color: #fff !important;
  width: 150px;
  border-radius: 3px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  text-transform: uppercase;
}
.guidance-block:hover h4, .guidance-block:hover p
{
   color: #fff;
   transition: all .5s ease;
}
.guidance a
{
	padding: 10px;
    color: #717171;
    text-decoration: none;
}
.guidance-block.one:hover
{
	background:#21cfe9;
	transition: all .5s ease;
  box-shadow: none;
}
.guidance-block.one h4
{
	color:#21cfe9;
	transition: all .5s ease;
}
.guidance-block.two:hover
{
	background:#db8026;
	transition: all .5s ease;
  box-shadow: none;
}
.guidance-block.two h4
{
	color:#db8026;
	transition: all .5s ease;
}
.guidance-block.three:hover
{
	background:#ff8181;
	transition: all .5s ease;
  box-shadow: none;
}
.guidance-block.three h4
{
	color:#ff8181;
	transition: all .5s ease;
}
.guidance-block.four:hover
{
	background:#64df64;
	transition: all .5s ease;
  box-shadow: none;
}
.guidance-block.four h4
{
	color:#64df64;
	transition: all .5s ease;
}
.guidance-block.five:hover
{
	background:#e3d039;
	transition: all .5s ease;
  box-shadow: none;
}
.guidance-block.five h4
{
	color:#e3d039;
	transition: all .5s ease;
}
.guidance-block.six:hover
{
	background:#f97327;
	transition: all .5s ease;
  box-shadow: none;
}
.guidance-block.six h4
{
	color:#f97327;
	transition: all .5s ease;
}
.guidance-block:hover h4 {
  color : #fff;
}




.offered.slider {
  margin-top: 80px;
  background: #d76c2812;
  padding: 80px 0px 0px;
}
.slider marquee {
  margin-bottom: -7px;
}
.slider .slider-img .slider-main-img {
  width: 80%;
}
.slider .slider-img .slider-part1 {
  position: absolute;
  width: 100px;
  top: 40%;
  left: 10%;
  animation-name: rotateme;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: rotateme;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotateme;
  -moz-animation-duration: 10s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: rotateme;
  -ms-animation-duration: 10s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: rotateme;
  -o-animation-duration: 10s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;

}
.slider .slider-img .slider-part2 {
  position: absolute;
  width: 80px;
  left:25%;
  top: 20%;
  animation-name: rotateReverse;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: rotateReverse;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotateReverse;
  -moz-animation-duration: 10s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: rotateReverse;
  -ms-animation-duration: 10s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: rotateReverse;
  -o-animation-duration: 10s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;

}
@keyframes rotateReverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.slider marquee img {
  width: 200px;
  margin-bottom: -120px;
  animation-name: rotateReverse;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: rotateReverse;
  -webkit-animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotateReverse;
  -moz-animation-duration: 40s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: rotateReverse;
  -ms-animation-duration: 40s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: rotateReverse;
  -o-animation-duration: 40s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}
.slider h2 {
  color: #d76c28;
  font-size: 38px;
  font-weight: bold;
}
.slider p {
  font-size: 28px;
  color: #0d5a3d;
  margin-top: 20px;
}
.slider a {
  background: #d76c28;
  color: #fff;
  border-radius: 20px;
  padding: 10px 30px;
  margin-top: 20px;
  display: inline-block;
}
.ring{
  background-color: #ececec;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 
  -10px -10px 15px rgba(255,255,255,0.3),
  10px 10px 15px rgba(70,70,70,0.15),
  inset -10px -10px 15px rgba(255,255,255,0.3),
  inset 10px 10px 15px rgba(70,70,70,0.15);
  border: 15px solid #ececec;
  border-radius: 50%;
}
.ring4{
  height: 30px;
  width: 30px;
  animation: glow4 2.5s infinite;
}
@keyframes glow4{
  0%{
      background-color: #ececec;
  }
  20%{
      background-color: #ffad00;
  }
  100%{
      background-color: #ffad00;
  }
}

.ring3{
  height: 120px;
  width: 120px;
  animation: glow3 2.5s infinite;
}
@keyframes glow3{
  20%{
      background-color: #ececec;
  }
  40%{
      background-color: #ffad00;
  }
  100%{
      background-color: #ffad00;
  }
}

.ring2{
  height: 200px;
  width: 200px;
  animation: glow2 2.5s infinite;
}
@keyframes glow2{
  40%{
      background-color: #ececec;
  }
  60%{
      background-color: #ffad00;
  }
  100%{
      background-color: #ffad00;
  }
}

.ring1{
  height: 280px;
  width: 280px;
  animation: glow1 2.5s infinite;
}
@keyframes glow1{
  60%{
      background-color: #ececec;
  }
  80%{
      background-color: #ffad00;
  }
  100%{
      background-color: #ffad00;
  }
}











.testimonials
{
  background: #fbfbfb;
  padding: 50px 0px 50px 0px;
}

.testimonials .testimonial-wrap {
  padding-left: 50px;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0px 0px 20px 0px rgba(11, 35, 65, 0.1);
  position: relative;
  background: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #fdedea;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.testimonials .owl-dot.active {
  background-color: #ed502e !important;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #f38b74;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0f2f57;
}

.section-title1 p {
  margin: 0;
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0f2f57;
}
.section-title1 h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title1 h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #f38b74;
  margin: 4px 10px;
}





.contact
{
  margin: 0px 0px 0px 0px;
}

.contact .info-box {
  color: #0b2341;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  background: #fff;
}

.contact .info-box i {
  font-size: 32px;
  color: #d76c28;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #fbdad2;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #ed502e;
}

.contact .php-email-form input {
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #d76c28;
  border: 0;
  padding: 10px 30px;
  border-radius: 4px;
  color: #fff;
  transition: 0.4s;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #ef6445;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}







footer
{
	background: rgb(241 161 81);
    padding: 50px 0px 30px 0px;
}
footer h5
{
	color: #8a1f08;
}
footer p
{
	color: #fff;
	text-align: justify;
	width: 90%;
  margin-left: -10px;
  word-spacing: -1px;
}
footer a
{
	padding-left:30%;
	color: #fff;
}
.footer-about p a {
  padding-left: 8px;
}
.site h5
{
	padding-left: 23%;
}

.social-block
{
	background:#fff;
	width: 35px;
	height: 35px;
	border-radius: 17px;
	display: inline-block;
	transition: all .5s ease;
}
.social .fb-b
{
	color: blue;
    text-align: center;
    font-size: 22px;
    margin: 7px 0px 0px 1px;
    transition: all .5s ease;
}
.social i
{
	color: blue;
    text-align: center;
    font-size: 22px;
	margin: 8px 0px 0px -4px;
	transition: all .5s ease;
}
hr
{
	border: 1px solid #fff;
}
.rights span
{
	color:#0d5a3d;
}
.rights p
{
	color: #fff;
	margin-top: -3px;
	font-size: 14px;
}
.fb:hover
{
	background:blue;
	transition: all 1.5s ease;
}
.fb:hover .fb-b
{
	color: #fff;
	transition: all .5s ease;
}
.tw-b
{
	color:#50abf1 !important;
}
.tw:hover
{
	background:#50abf1;
	transition: all .5s ease;
}
.tw:hover .tw-b
{
	color: #fff !important;
	transition: all .5s ease;
}
.insta-b
{
	color:#c736ab !important;
	padding-left: 2px;
}
.insta:hover
{
	background:#ca37ac;
	transition: all .5s ease;
}
.insta:hover .insta-b
{
	color: #fff !important;
	transition: all .5s ease;
}
.mail-b
{
	color:#e34133 !important;
}
.mail:hover
{
	background:#e34133;
	transition: all .5s ease;
}
.mail:hover .mail-b
{
	color: #fff !important;
	transition: all .5s ease;
}

.mobile-nav-toggle-scrolled
	{
		top: 33px;
	}




.wedding
{
	background:url(../images/Arranged-marriages.jpg);
	width: 100%;
	height: 400px;
	background-size:cover;
  background-position: center;
  padding:50px 0px 50px 0px;

}
.wedding p
{
	font-size: 38px;
    color: #fff;
    text-align: center;
    padding-top: 140px;
    animation: fadeIn 2s ease;
	
}
.birthday
{
	background:url(../images/colorful-bash-ellie-main-settings-0817_horiz.jpg);
	width: 100%;
	height: 400px;
	background-size:cover;
  background-position: center;
  padding:50px 0px 50px 0px;

}
.birthday p
{
	font-size: 38px;
    color: #fff;
    text-align: center;
    padding-top: 140px;
    animation: fadeIn 2s ease;
	
}
.wedding-part
{
	margin:70px 0px 70px 0px;
}
.wedding-part p
{
	text-align:justify;
	margin:15px 0px 15px 0px;
	font-family: 'poppins', sans-serif;
	font-size:14px;
	word-spacing:3px;
	
}
.wedding-b
{
	margin:10px 0px 40px 0px;
}
.stripe
{
	border:1px solid #ed502e;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin:10px 0px 10px 0px;
}

.middle {

  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text a
{
	 color: #3c3c3c;
    font-size: 26px;
    text-align: decoration;
    text-decoration: none;
}
.wedding-block:hover .image {
  opacity: 0.5;
}

.wedding-block:hover .middle {
  opacity: 1;
}

.text i {
    background-color: #ed502e;
    color: white;
    font-size: 32px;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    padding-top: 13px;
    padding-left: 2px;
	margin-top:10%;
}












@media (max-width: 768px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }
  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }
  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
  .get-started-btn {
    margin: 0 80px 0 0;
	}
	
	
	
	
	
	
}
@media (max-width: 280px){
  .site h5
{
  padding-left: 0px !important;
}
.site p
{
  margin-left: -24% !important;
}
	
}





@media (max-width: 425px){
	#header .logo img {
		width: 56%;
     	
	}
  .site h5
  {
   padding-left: 0px !important;
  }
  .site p
  {
    margin-left: -24% !important;
  }
   .card
    {
    	    margin: auto;
    }
    
	
	
	
	
}
@media (max-width: 411px){
	
	
   
    .site h5
{
  padding-left: 0px !important;
}
.site p
{
  margin-left: -24% !important;
}
	
}

@media (max-width: 375px){
	
	
  .site h5
{
  padding-left: 0px !important;
}
.site p
{
  margin-left: -24% !important;
}
}

@media (max-width: 375px){
	#header{
		padding: 4px 0px 4px 0px;
	}
	#header .logo img{
		width:56%;
	}
}

@media (max-width: 414px){
	
	.site h5
{
  padding-left: 0px !important;
}
.site p
{
  margin-left: -24% !important;
}
}

@media (max-width: 320px){

	#header .logo img {
		width: 56%;  	
	}
  .site h5
{
  padding-left: 0px !important;
}
.site p
{
  margin-left: -24% !important;
}
	
 	body
 	{
 	overflow-x:hidden;
 	}
 	.get-started-btn {
    margin: 2px 48px 0 0;
	}
	
	
}